<title>MJ Predict App</title>
<style>
#wrapper {
    text-align: center;
}
</style>

<style>
  #wrapper2 {
      text-align: left
      margin: left 40px;;
  }
  </style>
<div id="wrapper">
  <h1>3人麻雀の6巡目の手牌を入力して、<br>
        失点するかしないか予測します。</h1>
    <h2>下記の例のように記入してください<br></h2>
        <div id="wrapper2">
        例：11m12356p678s111z<br></h4>
        <br>

        <h4>・牌の数字を記入した後、「マンズ→m」「ピンズ→p」「ソーズ→s」「字牌→z」と記入してください<br>
        ・字牌は、
        「東：1」「南：2」「西：3」「北：4」<br>
        「白：5」「撥：6」「中：7」<br>
        と記入してください<br></h4>
      </div>
      <br>
        <h4>※<a href="https://tenhou.net/2/">https://tenhou.net/2/</a>
        の記入方法と同じです。<br></h4>
        <h3>【注意】この予測サービスは門前のみに対応しています。手牌が13枚になるように記入してください<br>
        【注意】三人麻雀限定です。マンズの2~8は記入しないでください。<br></h3>

  <form method="post">
    {{ forms.csrf_token }}

    {{ forms.tehai.label }}<br>
    {{ forms.tehai }}<br>
    {% for error in forms.tehai.errors %}
    <div>{{ error }}</div>
    {% endfor %}<br>

    {{ forms.submit }}
  </form>
</div>